* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(5, 5, 90);
  font-size: 45px;
  padding-bottom: 10px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(68 68 110);
}

.header {
  background-color: rgb(224, 222, 222);
}

.header-text {
  padding: 20px;
  text-align: center;
}

.text-body {
  margin: 25px 25px;
}

.navbar {
  background-color: #055160;
}

.nav-item a {
  color:beige
}

#site-brand {
  color: beige;
}
