.container {
  max-width: 1480px;
  margin: auto;
  position: relative;
}

.page {
  padding-top: 50px;
}

.product {
  border: 1px solid black;
  padding: 20px;
}

.product-on-stock {
  border-color: green;
}

.product-not-on-stock {
  border-color: red;
}

.product-field {
  font-size: 20px;
}

.product-label {
  margin-right: 10px;
  font-weight: bold;
  font-size: 25px;
}

.product-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  row-gap: 10px;
}

/*.product-row {*/
/*  display: flex;*/
/*}*/




